body {
  background-color: black;
  font-family: "Quicksand", sans-serif;
}

.heart-logo {
  max-height: 70px;
  max-width: 70px;
  height: auto;
  width: auto;
}

.collapse .navbar-collapse .d-flex .justify-content-between .navbar-nav {
  position: relative;
}

.text-logo {
  margin-left: 1rem;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 28px;
  color: #499df2;
}

.left-header {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 2rem;
  align-items: center;
}

.right-header {
  display: flex;
  flex-flow: row nowrap;
  right: 147px;
  position: absolute;
}

.form-inline {
  margin-right: -110px;
}

.nav {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-right: 2rem;
}

.nav:hover {
  color: darkgray;
  font-size: 20px;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  display: none;
}

.modal-button {
  color: white;
}

.log-sign .sign-up {
  margin-left: 200px;
}

.home-text {
  color: #f2f2f2;
  font-family: "Quicksand", sans-serif;
}

.image-home {
  max-width: 170px;
  max-height: 170px;
  width: auto;
  height: auto;
  margin: 2rem auto;
}

.addTest {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: white;
  align-items: center;
  border: 3px solid#202648;
  padding: 2rem;
  border-radius: 10px;
}

.testRight {
  margin-right: 2rem;
}

.doctor {
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
  margin-right: 32px;
}

.Logout {
  right: -96px;
  position: absolute;
}

.error{
  color: #F20C0C;
  border-radius: 6px;
  padding: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .heart-logo {
    max-height: 40px;
    max-width: 40px;
    height: auto;
    width: auto;
  }
  .text-logo {
    margin-left: 0.5rem;
    font-size: 20px;
  }
  .addTest {
        margin-top: 39px;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: white;
    align-items: center;
    border: 3px solid#202648;
    padding: 2rem;
    border-radius: 10px;
  }
  .testRight {
    margin: 2rem 0;
  }
}
