@media (max-width: 600px) {
  body {
    width: 377px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
    display: inline-block;
  }

  .dropdown-toggle {
    color: white;
    margin-right: 23px;
  }
  /* .navDropdown-box{
     margin-right: 27px;
   
} */


.nav-icon{
    color: white;
background-color: black;
}

  .nav-icon:hover {
    color: white;
    background-color: black;
  }

  .dropdown-menu .show {
    margin-left: -1px;
    margin-right: 27px;
  }

  .navDropdown {
    color: white;
    margin-right: 27px;
    /* margin-right: 20px; */
  }

  .navDropdown:hover {
    color: white;
    margin-right: 27px;
  }

  .mobile-link {
    text-decoration: none;
    color: black;
    display: block;
    margin-left: 12px;
  }

  .mobile-link:hover {
    text-decoration: none;
    color: #499df2;
    /* background-color: #0F143A; */
  }

  .right-header {
    display: none;
  }
}
