#result{
    border-radius: 10px;
    color: white;
    background-color: #0F143A
}

.chart{
    margin: 2rem auto;
    width: 90%;
}

.title{

    font-size: 16px;
    border-radius: 10px;
    background-color: #202648;
}